:root {
  --gsw-yellow: #fdbb00;
  --okc-blue: #0079c5;
  --body-bg: #bcbcbc;
  --black-blue: #2d363b;
  --black: #000;
  --white: #ffffff;
  --light-gray: #f2f2f2;
  --green: #71ab3e;
  --btn-green: #70aa3d;
  --footer-gray: #616a71;
  --footer-dark-gray: #4f5961;
}
